## Compiled Binary Files ##
bin/*

## Compiled Source Files ##
*.o
*.so
*.to

## External Library Files ##
lib/*

## Package Files ##
*.tar
*.zip
*.rar

## Logs Files ##
*.log
*.lock

## GDB Files ##

*.gdb
.gdbinit
.gdb_history

## OS Files ##
*.swp
*.swo
*.*.sw*
